<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.magic_emporium">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Magic_Emporium">
        <activity
            android:name=".magic_emporiumDriver.AllPurchaseHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".magic_emporiumDriver.ModifyUsersActivity"
            android:exported="false" />
        <activity
            android:name=".magic_emporiumDriver.PurchaseHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".magic_emporiumDriver.AccountSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".magic_emporiumDriver.ViewInventoryActivity"
            android:exported="false" />
        <activity
            android:name=".magic_emporiumDriver.AdminHomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".magic_emporiumDriver.CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".magic_emporiumDriver.HomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".magic_emporiumDriver.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>